<div class="w-full relative">
  <img
    src="assets/home/nous_au_ski_black_and_white.png"
    alt="Nous"
    class="w-full object-cover"
  />
  <!-- Text 1/3 from top -->
  <div class="absolute top-1/4 w-full flex justify-center">
    <h1
      class="text-white text-lg md:text-4xl text-center"
      style="font-family: 'Dancing Script', cursive; font-weight: 700; font-style: italic;"
    >
      21 Mars 2026
    </h1>
  </div>
</div>

<app-program></app-program>
<app-voyage></app-voyage>
<app-sejour></app-sejour>
<app-wedding-list></app-wedding-list>
<app-dress-code></app-dress-code>
<app-rsvp></app-rsvp>
