<div class="max-w-5xl mx-auto px-4 py-12 ">
    
    <h1 class="text-3xl font-bold text-center mb-6 text-rose-900">Notre liste de mariage</h1>
    <!-- Texte explicatif -->
      <p class="text-lg text-gray-700 leading-relaxed text-center mb-6">
        Nous avons choisi de partager ce moment unique avec vous à travers une liste de mariage. 
        Votre présence est le plus beau des cadeaux, mais si vous souhaitez nous accompagner dans 
        cette nouvelle aventure, vous trouverez ci-dessous le lien vers notre liste.  
      </p>

    <!-- Galerie photos -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-5xl px-6">
      <img class="rounded-md shadow-md object-cover h-64 w-full"
           src="assets/liste_de_mariage/philipines.jpg"
           alt="Couple 1">
      <img class="rounded-md shadow-md object-cover h-64 w-full"
            src="assets/liste_de_mariage/ski.jpg"
            alt="Couple 2">
      <img class="rounded-md shadow-md object-cover h-64 w-full"
            src="assets/liste_de_mariage/tchin.jpeg"
            alt="Couple 3">
    </div>

    <!-- Lien liste -->
    <div class="mt-10 mb-16 flex items-center justify-center">
        <a href="https://www.millemercismariage.com/soleneeternest/liste.html"
           target="_blank"
           class="px-8 py-4 bg-pink-800 text-white text-lg font-semibold rounded-full shadow-lg hover:bg-pink-900 transition">
          Voir la liste de mariage
        </a>
      </div>
  </div>